node_modules
**/node_modules
npm-debug.log
**/npm-debug.log
Dockerfile*
**/Dockerfile*
docker-compose*
**/docker-compose*
.dockerignore
**/.dockerignore
.git
.gitignore
README.md
**/README.md
LICENSE
**/LICENSE
.vscode
**/.vscode
**/out